#beach {
  border-radius: 10%;
  float: left;
  width: 50%;
  height: auto;
  margin: 0 20px 0 20px;
}

#intro {
  font-weight: 900;
  color: cornflowerblue;
}

#header {
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.activities {
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkseagreen;
}

.jumbotron {
  
}

.package-details{
  font-weight: lighter;
  font-style: italic;
}

.package-old-price{
  color: red;
  text-decoration-line: line-through;
}

.package-new-price{
  color: green;
  font-size: 25px;
}

.card-title{
  font-size: 25px;
}